<html>
<head>
    <title>Learning AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controllers/maincontroller.js" type="text/javascript"></script>
    <script src="../test/report/UpdatingBasket.json" type="text/json"></script>
</head>
<body>
    <div id='content' ng-app='MyTutorialApp' ng-controller='MainController'>
        <!---------------------------------------------->
        <!--<label>What you are looking for</label>-->
        <!--<input type='text' ng-model='searchText'/>-->
        <!--<label ng-repeat='person in people' ng-show='person.name.toLowerCase().indexOf(searchText) >= 0 && searchText != ""'>{{', is my friend '+person.name+' and he likes ' +person.music}}</label>-->
        <!---------------------------------------------->
        <div>
            <button ng-click="fetch()">Read results</button>
            <!--<button ng-click="clear()">Clear results</button>-->

            <div>
                <!--<div><textarea id="results" rows="35" cols="15">{{scenarios}}</textarea></div>-->
                <select ng-show='scenarios!= null' ng-model='selectedScenario' ng-change = 'getScenarioResult()' ng-options='scenario.id for scenario in scenarios[0].elements'></select>
            </div>
            <div>
                <li ng-repeat='step in selectedScenario.steps'>{{step.keyword + step.name+' : '+step.result.status}}</li>
                <label ng-hide='selectedScenario.id == null'>{{'This test is '+ scenarioResult}}</label>
            </div>
        </div>
    </div>
</body>
</html>